<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New chat</title>
</head>
<body>
    <h3>Write new Chat..</h3>
    <form method="POST" action="/chats">
        <input placeholder="From:" name="from"><br><br>

        <input placeholder="To:" name="to"><br><br>
        <textarea name="msg" placeholder="Write your message here"></textarea><br>
        <br>
        <button>Send Chat</button>

    </form>
    
</body>
</html>